<div class='controls'>
  <h2>
    <%=current_user.name%>'s Posts
  </h2>
</div>

<div class='lists'>
  <%@user_posts.each do|post|%>
  <div class='item'>
    <img src="<%=post["track_img_url"]%>" class='center-block'>
    <p><%=post["artist"]%></p>
    <p><%=post["album_title"]%></p>
    <p><%=post["track_title"]%></p>
    <audio id="myMusic" controls loop>
      <source src="<%= post["sample_url"] %>">
    </audio>
    <p>Comment：<%=post["comment"]%></p>
    <br>
    <form action="/edit/<%= post.id %>" method="get">
      <button type="submit">編集</button>
    </form>
    <form action="/delete/<%= post.id %>" method="post">
      <button type="submit">削除</button>
    </form>
  </div>
  <%end%>
</div>