<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>タイトル</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-lg-2">

			</div>
			<div class="col-lg-10">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>タイトル</th>
							<th>締切</th>
							<th>DONE</th>
							<th>削除</th>
							<th>編集</th>
							<th>備考</th>
							<th>重要？</th>
						</tr>
					</thead>
					<tbody>
						<%@tasks.each do |task|%>
						<tr>
							<%# htmlが入力されることを防ぐため %>
							<td>
								<%=CGI.escapeHTML(task.title)%>
							</td>
							<td>
								<%=task.due_date%>
							</td>
							<td>
								<%unless task.completed%>
								<form action="/tasks/<%=task.id%>/done" method="post">
									<input type="submit" value="DONE!">
								</form>
								<%else%>
								DONE!
								<%end%>
							</td>
							<td>
								<form action="/tasks/<%=task.id%>/delete" method="post">
									<input type="submit" value="削除">
								</form>
							</td>
							<td>
								<a href="tasks/<%=task.id%>/edit">編集</a>
							</td>
							<td>
								<%unless task.completed%>
								<%if task.remained_date<0%>
								締切を過ぎました
								<%elsif task.remained_date==0%>
								締切間近！
								<%elsif task.remained_date<7%>
								締切近め！
								<%else%>
								締切まで
								<%=task.remained_date%>日
								<%end%>
								<%end%>
							</td>
							<td>
								<a href="/tasks/<%=task.id%>/star" style="
								<%if task.star%>
								background-color:red;
								<%else%>
								background-color:white;
								<%end%>
								border:1px solid black;
								width: 10px;
								height: 10px;
								display: block;
							"></a>
							</td>
						</tr>
						<%end%>
						<tr>
							<td colspan="7"><a href="/tasks/new">新しいtodo</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>