<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <%# cssを読み込み %>
  <link rel="stylesheet" href="css/main.css">
  <%# M+1pフォントを導入 %>
  <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <title>search</title>
</head>
<body>
  <div class="controls">
    <form action="search" method="POST">
      <h2>Serch On iTunes</h2>
      <input type="text" name="term" placeholder="What are you looking for?" />
      <input type="submit" value="Search" />
    </form>
  </div>

  <div class="controls">
    <h2>Result</h2>
  </div>

  <div class="lists">
    <% if !@musics.nil? %>
    <% @musics.each do |music| %>
    <div class="item">
      <img src='<%= music["artworkUrl100"] %>' class='center-block'>
      <p>
        <%= music["artistName"] %>
      </p>
      <p>
        <%= music["collectionName"] %>
      </p>
      <p>
        <%= music["trackName"] %>
      </p>
      <audio id="myMusic" controls loop>
        <source src="<%= music['previewUrl'] %>">
      </audio>
      <form action="/new" method="POST">
        <input type="hidden" value="<%=music["artistName"]%>" name="artist">
        <input type="hidden" value="<%=music["collectionName"]%>" name="album_title">
        <input type="hidden" value="<%=music["trackName"]%>" name="track_title">
        <input type="hidden" value="<%=music["artworkUrl100"]%>"name="track_img_url">
        <input type="hidden" value="<%=music["previewUrl"]%>"name="sample_url">
        <input type="text" name="comment" placeholder="Comment">
        <input type="submit" value="Post">
      </form>
    </div>
    <% end %>
    <% else %>
    <h3>Not Found</h3>
    <% end %>
  </div>
</body>
</html>